:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  background-image: url('../public/assets/background.png');
  background-repeat: no-repeat;
  background-size: 100% auto; 
  height: 100vh;
  background-position: center bottom;
  padding: 0;
  margin: 0;
  display: flex;
  justify-self: center;

}
#app {
  padding-top: 30px;
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#game-container{
  background-repeat: no-repeat;
  background-size: 100% auto; 
  padding:5px;
  margin: 0px;
}
canvas{
  color: green;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#start-game{
  color: red;
  color: white;
}
#game-nav-bar{
  background: url('../public/assets/menu_background.png');
  background-size: cover; 
  border: none;
  height:80px;
  padding: 5px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  visibility:hidden;
}
#buttons{
  display:flex;
  flex-direction:row;
  align-items:center;
}
#spin_btn{
  background: url('../public/assets/spin.png');
  width: 80px;
  height: 80px;
  background-size: cover; 
  border: none;
}
#spin_btn:hover{
  background: url('../public/assets/spin_hover.png');
  width: 80px;
  height: 80px;
  background-size: cover; 
  border: none;
}
#plus_btn{
  background: url('../public/assets/plus.png');
  width: 40px;
  height: 40px;
  background-size: cover; 
  border: none;
}
#minus_btn{
  background: url('../public/assets/minus.png');
  width: 40px;
  height: 40px;
  background-size: cover; 
  border: none;
}
button:hover {
  cursor: pointer;
}

#money_bar{
}
#money_bar h3{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding:0;
  margin:0;
  text-align: left;
}
h2{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}